@page "/"
@using NearestLocationApp.Data;
@using DataAccessLibrary;
@using System.Linq;

@inject ExcelParser ExcelParser;
@inject GoogleMapsApi GoogleMapsApi;
@inject ICarsData CarsData;

<PageTitle>Index</PageTitle>

<b>Input a pickup-zipcode and dropoff-zipcode here: </b>
<input placeholder="Pick up zip code" @bind="@PickUpZipCode" @bind:event="oninput" type="number" />
<input placeholder="Drop off zip code" @bind="@DropOffZipCode" @bind:event="oninput" type="number" />

<button @onclick="@SortDestinations">Sort</button>

<table class="table">
    <thead>
        <tr>
            <th>Car Name</th>
            <th>Zip Code</th>
            <th>From car to pick up distance</th>
            <th>From car to pick up duration</th>
            <th>From pick up to drop off distance</th>
            <th>From pick up to drop off duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var direction in CarDirections)
        {
            <tr>
                <td><a href="@direction.MapLink">@direction.Car.CarName</a></td>
                <td>@direction.Car.ZipCode</td>
                <td>@direction.ToPickUpRide.DistanceString</td>
                <td>@direction.ToPickUpRide.DurationString</td>
                <td>@direction.ToDropOffRide.DistanceString</td>
                <td>@direction.ToDropOffRide.DurationString</td>
            </tr>
        }
    </tbody>
</table>

<input placeholder="Car Name" @bind="@CarName" @bind:event="oninput" type="text" />
<input placeholder="Zip Code" @bind="@CarZipCode" @bind:event="oninput" type="number" />

<button @onclick="@AddCar">Add Car</button>

<p>@test</p>

@code
{
    public List<Direction> CarDirections = new List<Direction>();
    public string PickUpZipCode;
    public string DropOffZipCode;

    public string CarName;
    public string CarZipCode;

    public string test = "";

    private List<Car> _cars = new List<Car>();

    public async Task AddCar()
    {
        Car newCar = new Car();
        newCar.CarName = CarName;
        newCar.ZipCode = CarZipCode;

        await CarsData.AddCar(newCar);
        _cars.Add(newCar);

        CarToCarRides();
    }

    public async Task SortDestinations()
    {
        CarDirections = await GoogleMapsApi.GetRideInformation(CarDirections, PickUpZipCode, DropOffZipCode);

        CarDirections = CarDirections.OrderBy(x => x.ToPickUpRide.DurationValue).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        _cars = await CarsData.GetCars();
        CarToCarRides();
        await base.OnInitializedAsync();
    }

    private void CarToCarRides()
    {
        CarDirections.Clear();
        foreach(var car in _cars)
        {
            CarDirections.Add(new Direction(car));
        }
    }
}